
#gameInfo{
  color : white;
  width: 40%;
  font-family: monospace;
  font-size: 20pt;
  margin-left: 30px;
  text-align: left;
}


#app{
  display: flex;
}

#Board{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
  height: 500px;
  width : 500px;
  box-shadow: 1px 1px 10px white;
  border : 10px #333 solid;
}

.cell{
  width : 10px;
  height: 10px;
  margin: 0px;
}
#app{
  margin-top: 30px;
}

.empty{
  background-color: beige;
}

.full{
  background-color: #444444;
}


.portal{
  background-color: purple;
}

.enemy{
  background-color: red;
}

.heal{
  background-color: #0bff00;
}

.player{
  background-color: blue;
}
.weapon{
  background-color: orange;
}

.door{
  background-color: #fdfff8;
}

@media all and (max-width: 950px) {
  #app{
    display: block;
  }
}